karma/AlignmentGraph
karma/R2RML
karma/UserUploadedFiles
karma/SemanticTypeModels
karma/JSON
karma/UserPrefs
karma/preloaded-ontologies/commented-out
karma.zip
karma/config/modeling.properties

karma/alignment-graph
karma/models-autosave
karma/models-graphviz
karma/models-json
karma/python-old
karma/semantic-type-files
karma/user-preferences
karma/user-uploaded-files

versions/2.0/karma/alignment-graph
versions/2.0/karma/models-autosave
versions/2.0/karma/models-graphviz
versions/2.0/karma/semantic-type-files
versions/2.0/karma/user-preferences
versions/2.0/karma/user-uploaded-files

datasets/*/*/x-*.*
datasets/*/*/*/x-*.*
datasets/*/*/*/*/x-*.*
datasets/*/x-*.*
datasets/*/*.sql
datasets/*/*.sql.gz

datasets/istr/images/ist-images-rdf.n3
datasets/istr/ads-attributes/ads-attributes-features-rdf.n3
datasets/istr/ads/ads-rdf.n3
datasets/istr/stanford-extractions/stanford-features-rdf.n3
datasets/istr/ads/model-address/ads-address-rdf.n3
datasets/istr/ads/model-address/ads-phonenumber-rdf.n3
datasets/istr/ads/model-age/ads-age-rdf.n3

.DS_Store

*.n3
*.seq
karma/python/.idea/*

datasets/istr/ads-attributes/model-main/ads-attributes-main-sample-jsonld.json

datasets/istr/ads-attributes/model-phone/ads-attributes-phone-sample-jsonld.json

datasets/istr/ads-attributes/model-rate/ads-attributes-rate-sample-jsonld.json

datasets/istr/ads/model-address/ads-address-sample-jsonld.json

datasets/istr/ads/model-email/ads-email-sample-jsonld.json

datasets/istr/ads/model-main/ads-main-sample-jsonld.json

datasets/istr/ads/model-phone/ads-phonenumber-sample-jsonld.json

datasets/istr/ads/model-website/ads-website-sample-jsonld.json

datasets/istr/images/ist-images-sample-jsonld.json

datasets/istr/stanford-extractions/model-address/stanford-address-sample-jsonld.json

datasets/istr/stanford-extractions/model-person-name/stanford-person-name-sample-jsonld.json

datasets/istr/stanford-extractions/model-phone/stanford-phone-sample-jsonld.json

datasets/istr/ads/model-gender/ads-gender-sample-jsonld.json

datasets/istr/ads/model-age/ads-age-sample-jsonld.json

datasets/istr/ads/model-phone/ads-phone-sample-jsonld.json

datasets/istr/deobf/model-body/deobf-body-sample-jsonld.json
datasets/istr/deobf/model-title/deobf-title-sample-jsonld.json

*.sublime-workspace

datasets/istr/stanford-extractions/error_analysis/*
datasets/istr/stanford-extractions/extractions/*

*~
datasets/mrs/mrs-scrape/mrs-data.seq

datasets/mrs/mrs-scrape/mrs-full-data.json

*.seq

datasets/mrs/jpl/jpl-solr-pdf.seq

*.crc

*.pyc

datasets/atf/evolution-forums/evolution-forums-sample-24.json

datasets/atf/evolution-forums/evolution-forums-sample-12.json

datasets/atf/evolution-forums/evolution-forums-sample-40.json

versions/2.0/karma/python/.idea/*

*.cfe

*.cfe

versions/2.0/karma/numeric-semantic-type-files/*
versions/2.0/karma/textual-semantic-type-files/*
