karma/AlignmentGraph
karma/R2RML
karma/UserUploadedFiles
karma/SemanticTypeModels
karma/JSON
karma/UserPrefs
karma/preloaded-ontologies/commented-out
karma.zip

karma/alignment-graph
karma/models-autosave
karma/models-graphviz
karma/models-json
karma/python-old
karma/semantic-type-files
karma/user-preferences
karma/user-uploaded-files

datasets/*/*/x-*.*
datasets/*/x-*.*
datasets/*/*.sql
datasets/*/*.sql.gz

datasets/istr/images/ist-images-rdf.n3
datasets/istr/images/ist-images-jsonld.json

datasets/istr/ads-attributes/ads-attributes-features-rdf.n3
datasets/istr/ads-attributes/ads-attributes-features-jsonld.json

datasets/istr/ads/ads-jsonld.json
datasets/istr/ads/ads-rdf.n3

datasets/istr/stanford-extractions/stanford-features-rdf.n3
datasets/istr/stanford-extractions/stanford-features-jsonld.json
